@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

body {
    width: 100%;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: hsl(0, 0%, 100%);
    max-width: 550px;
    display: flex;
    border-radius: 10px;
}

.foto-mobile {
    display: none;
}


.foto-produto img {
    width: 100%;
    height: 100%;
    border-radius: 10px 0px 0px 10px ;
}

.foto-produto {
    width: 50vw;
}

.detalhes-produto {
    width: 50vw;
    padding: 30px;
}

.detalhes-produto .description-titulo {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.detalhes-produto h2 {
    padding-right: 40px;
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 33px;
    margin-bottom: 15px;
}



.detalhes-produto p {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    padding-right: 8px;
    font-size: 13px;
    line-height: 17px;
    margin-bottom: 15px;
}

.preco-desconto {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.preco-desconto p {
    transform: translateY(7px);
    text-decoration: line-through;
}

.preco-desconto spam {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2rem;
    color: hsl(158, 36%, 37%);
    margin-right: 18px;
}



.btn button {
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 10px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-weight: 700;
}

.btn button:hover {
    background-color: hsl(157, 44%, 15%);
}

.icon-car {
    width: 13px;
    transform: translateY(2px);
}


@media only screen and (max-width: 500px) {
    main {
        display: flex;
        flex-direction: column;
        width: 80vw;
    }

    .foto-mobile {
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 10px 0px 0px 10px;
    }

    .foto-mobile img {
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }

    .foto-produto {
        display: none;
    }

    .detalhes-produto {
        padding: 17px;
    }

    .detalhes-produto h2 {
        font-size: 25px;
    }

    .detalhes-produto {
        width: 100%;
        padding: 20px;
    }

}